@model AccountLoginModel
@{
    ViewBag.PageId = "extr-page";
    //ViewBag.PageClass = "animated fadeInDown";
}

@section topright{
    <span id="extr-page-header-space"> <span class="hidden-mobile text-color-white">Need an account?</span> <a href="@Url.Action("register", "account")" class="btn btn-primary">Create account</a> </span>
}

<div id="content" class="container">
    <div class="row">
        @*@{ Html.RenderPartial("_LoginText"); }*@

        @{ Html.RenderPartial("_LoginBackground"); }

        <div class="col-sm-6 col-sm-offset-3 form-box" style="margin-top:100px">
            <div class="well no-padding">
                <form action="@Url.Action("login", "account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        <h3><i class="fa fa-key"></i> Sign In</h3>
                        
                    </header>
                    @Html.HiddenFor(m => m.ReturnUrl)
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">E-mail</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="email" name="email" value="" placeholder="Please enter email">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Password</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password" value="" placeholder="Please enter password">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("forgotpassword", "account")"><i class="fa fa-frown-o"></i> Forgot password?</a>
                            </div>
                        </section>

                        <section>
                            <label class="checkbox">
                                <input type="checkbox" name="rememberMe" value="true" checked="checked">
                                <input type="hidden" name="rememberMe" value="false" />
                                <i></i>Stay signed in
                            </label>
                        </section>

                        <section>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                Sign in
                            </button>
                        </section>
                    </fieldset>
                    @*<footer>
                        <button type="submit" class="btn btn-primary">
                            Sign in
                        </button>
                    </footer>*@
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box text-center">
            <p class="text-color-white">Copyright © 2017 LivePayroll, All rights reserved.</p>
            <p class="text-color-white">About more <a href="http://www.halfpricesoft.com"><strong>Payroll</strong></a> >>></p>
        </div>
    </div>
    
</div>
@section pagespecific {
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    password: {
                        required: 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}