@model AccountResetPasswordModel
@{
    ViewBag.PageId = "extr-page";
}

@section topright{

}

<div id="content" class="container">
    <div class="row">
        @*@{ Html.RenderPartial("_LoginText"); }*@
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="well well-sm well-light">
                <h3>
                  <strong>Password Reset</strong> 
                    <br />
                    <small> @ViewBag.UserInfo</small>
                </h3>
                
                <form id="FormResetPassword" action="@Url.Action("ResetPassword", "account")" method="POST" class="form-horizontal login-form">
                    @Html.HiddenFor(m => m.Code )
                    @Html.HiddenFor(m => m.UserId)
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        @*<legend><span>@Model.CompanyName</span> — Admin</legend>*@
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>New Password *</label>
                                <div class="input-group">
                                    <input class="form-control" type="password" id="Password" name="Password" placeholder="Password" maxlength="16" autocomplete="off">
                                    <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                                </div>
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Comfirm Password *</label>
                                <div class="input-group">
                                    <input class="form-control" type="password" id="PasswordConfirm" name="PasswordConfirm" placeholder="Confirm password" maxlength="16" autocomplete="off">
                                    <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                                </div>
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </div>
                        </div>
                       
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-check"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>


                </form>

            </div>




            @*@{ Html.RenderPartial("_SocialMedia"); }*@
        </div>
    </div>
</div>

@{ Html.RenderPartial("_TermsAndConditions"); }

@section pagespecific{
    <script type="text/javascript">
        // Model i agree button


    </script>
}