@model UserConfirmModel
@{
    ViewBag.PageId = "extr-page";
}

@section topright{

}

<div id="content" class="container">
    <div class="row">
        @*@{ Html.RenderPartial("_LoginText"); }*@
        @{ Html.RenderPartial("_LoginBackground"); }
        <br />
        <br />
        <br />
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="well">
                @*<h3>
                    <strong>Please Complete Regist</strong>
                    <br>
                    <small> User [@ViewBag.UserName] </small>
                </h3>*@
                <form id="FormUserConfirmed" action="@Url.Action("UserConfirm", "account")" method="POST" class="form-horizontal login-form">
                    <header>
                        <h3>Please Complete Regist <small> User [@ViewBag.UserName] </small></h3>
                    </header>
                    @Html.HiddenFor(m => m.Code)
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        @*<legend><span>@Model.CompanyName</span> — Admin</legend>*@
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Password *</label>
                                <div class="input-group">
                                    <input class="form-control" type="password" id="Password" name="Password" placeholder="Password" maxlength="16" autocomplete="off">
                                    <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                                </div>
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </div>
                            <div class="form-group">
                                <label>Comfirm Password *</label>
                                <div class="input-group">
                                    <input class="form-control" type="password" id="PasswordConfirm" name="PasswordConfirm" placeholder="Confirm password" maxlength="16" autocomplete="off">
                                    <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                                </div>
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-check"></i>
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>


                </form>

            </div>




            @*@{ Html.RenderPartial("_SocialMedia"); }*@
        </div>
    </div>
</div>

@{ Html.RenderPartial("_TermsAndConditions"); }

@section pagespecific{
    <script type="text/javascript">
        // Model i agree button


    </script>
}