@model System.Data.DataTable
@using LivellPayRoll.App_Helpers
@using LivellPayRoll.Enum
			<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-user "></i>
                Employee<span>
                    &gt;
                Employee List
                </span>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <ul id="sparks" class="">
                <li class="sparks-info">
                    <h5> My Income <span class="txt-color-blue">$47,171</span></h5>
                    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                        1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
                    <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
                    <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Employee List</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>Name</th>
                                        <th><i class="fa fa-fw fa-slack text-muted hidden-md hidden-sm hidden-xs"></i>SSN</th>
                                        <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i>Phone</th>
                                        <th><i class="fa fa-fw fa-email fa-envelope text-muted hidden-md hidden-sm hidden-xs"></i>Email</th>
                                        @*<th><i class="fa fa-fw fa-map-marker text-muted hidden-md hidden-sm hidden-xs"></i>Address</th>*@
                                        @*<th><i class="fa fa-fw fa-map-marker text-muted hidden-md hidden-sm hidden-xs"></i>State</th>*@
                                        <th><i class="fa fa-fw fa-info-circle text-muted hidden-md hidden-sm hidden-xs"></i>PTO Hours</th>
                                        <th><i class="fa fa-fw fa-tag text-muted hidden-md hidden-sm hidden-xs"></i>Role</th>
                                        <th><i class="fa fa-fw fa-rocket text-muted hidden-md hidden-sm hidden-xs"></i>Status</th>
                                        <th><i class="fa fa-fw fa-th-large text-muted hidden-md hidden-sm hidden-xs"></i>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (System.Data.DataRow dr in Model.Rows)
                                    {
                                        <tr>
                                            <td>@(dr["FName"]+" "+ dr["LName"])</td>

                                            <td>@Html.DisplayFor(modelItem => dr["SSN"])</td>
                                            <td>@Html.DisplayFor(modelItem => dr["Phone"])</td>
                                            <td>@Html.DisplayFor(modelItem => dr["Email"])</td>
                                            @*<td>@Html.DisplayFor(modelItem => dr["State"])</td>*@
                                            <td>
                                                <a href="/Employee/PTOHours?EmployeeId=@dr["EmployeeId"]&Year=@DateTime.Now.ToString("yyyy")">
                                                    <div data-employeeId-PTOdiv ="@dr["EmployeeId"]">
                                                        <span class="text font-xs TotalHoursCapHours" title="TotalHours/CapHours"> @dr["TotalHours"]/@dr["CapHours"]  <span class="pull-right pto-percent">@dr["Percent"]%</span> </span>
                                                        <div class="progress progress-xs" style="margin: 0;">
                                                            <div class="progress-bar bg-color-blue progress-PTO" data-pto-value="@dr["Percent"]" style="width: @dr["Percent"]%;"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            @if (dr["Role"].ToString() == "Admin")
                                            {
                                                <td><span class="center-block padding-5 label bg-color-red">@Html.DisplayFor(modelItem => dr["Role"])</span></td>
                                            }
                                            else if (dr["Role"].ToString() == "Manager")
                                            {
                                                <td><span class="center-block padding-5 label bg-color-orange">@Html.DisplayFor(modelItem => dr["Role"])</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="center-block padding-5 label bg-color-blue">@Html.DisplayFor(modelItem => dr["Role"])</span></td>
                                            }
                                            @if (dr["Status"].ToString() == "Active")
                                            {
                                                <td><span class="center-block padding-5 label label-success">@Html.DisplayFor(modelItem => dr["Status"])</span></td>
                                            }
                                            else
                                            {
                                                <td><span title="The employee must activate the account !" class="center-block padding-5 label label-default">@Html.DisplayFor(modelItem => dr["Status"])</span></td>
                                            }
                                            <td>
                                                @if (dr["Role"].ToString() != "Employee" && ViewBag.Role != "Admin" && dr["UserId"] != ViewBag.userId)
                                                {
                                                    <a title="Manager Paid Time Off and Paid Vacation" data-empId="@dr["EmployeeId"]" class="btn btn-primary btn-primary btn-xs pto_form" href="javascript:void(0);" style="display:none;"><span class="glyphicon glyphicon-registration-mark"></span></a>
                                                    <a title="Edit" class="btn btn-primary btn-primary btn-xs btn-edit" href="/Employee/Edit?Id=@dr["EmployeeId"]" style="display:none;"><span class="glyphicon glyphicon-edit"></span></a>
                                                }
                                                else
                                                {
                                                    <a title="Manager Paid Time Off and Paid Vacation" data-empId="@dr["EmployeeId"]" class="btn btn-primary btn-primary btn-xs pto_form" href="javascript:void(0);"><span class="glyphicon glyphicon-registration-mark"></span></a>
                                                    <a title="Edit" class="btn btn-primary btn-primary btn-xs btn-edit" href="/Employee/Edit?Id=@dr["EmployeeId"]"><span class="glyphicon glyphicon-edit"></span></a>
                                                }
                                                @if (dr["Role"].ToString() == "Admin" || (dr["Role"].ToString() == "Manager" && ViewBag.Role != "Admin"))
                                                {
                                                    <a title="Delete" class="btn btn-danger btn-primary btn-xs btn-delete" id="@dr["EmployeeId"]" href="javascript:void(0);" style="display:none;"><span class="glyphicon glyphicon-trash"></span></a>
                                                }
                                                else
                                                {
                                                    <a title="Delete" class="btn btn-danger btn-primary btn-xs btn-delete" id="@dr["EmployeeId"]" href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a>
                                                }

                                            </td>


                                            </tr>

                                    }
                                </tbody>
                            </table>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->

    </section>
    <!-- ui-dialog -->
    @{Html.RenderPartial("_PTOForm"); }
    <!-- ends ui-dialog -->
</div>



<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            $.getJSON('@Url.Action("GetEmployee", "TimeSheet")', function (data) {
                $('#EmployeeId').empty();
                $('#EmployeeId').append($('<option></option>').val('').text('Please select employee'));
                $.each(data, function (i, item) {
                    $('#EmployeeId').append($('<option></option>').val(item.Value).text(item.Text));
                });
            });

            $('.pto_form').click(function () {
                var EmployeeId = $(this).attr('data-empId')
                $('#PTOModal').modal();
                $('#PTO-Add')[0].reset();
                $('#EmployeeId').val(EmployeeId);
                $('#Date').val(new Date().Format("yyyy-MM-dd"));
                return false;
            });

            $('#btn-PTO-add').click(function () {
                var EmployeeId = $('#EmployeeId').val();
                var Date = $('#Date').val();
                var Type = $("input[name='Type']:checked").val();
                var Usage = $("input[name='Usage']:checked").val();
                var Hours = $('#Hours').val();
                var Memo = $('#Memo').val();
                var par = {
                    "EmployeeId": EmployeeId,
                    "Date": Date,
                    "Type": Type,
                    "Hours": Hours * Usage,
                    "Memo": Memo
                }
                //var par = $("#PTO-Add").serializeArray();
                var bootstrapValidator = $('#PTO-Add').data('bootstrapValidator');
                bootstrapValidator.validate();
                if (bootstrapValidator.isValid()) {
                    $.post("/Employee/AddPTO", par, function (data) {
                        if (data.status == "success") {
                            $('#PTOModal').modal("hide");
                            SuccessBox('Manager Paid Time Off and Paid Vacation Add Success !');
                            $.post("/Employee/GetNewPTOHour", { "EmployeeId": EmployeeId }, function (data) {
                                if (data.status == "success") {
                                    console.log("asd!");
                                    var v = data.total + '/' + data.CapHours + '  <span class="pull-right pto-percent">' + data.Percent + '%</span>';
                                    $('[data-employeeid-ptodiv="' + EmployeeId + '"] .TotalHoursCapHours').html(v);
                                    $('[data-employeeid-ptodiv="' + EmployeeId + '"] .progress-PTO').attr({ "style": "width: " + data.Percent + "%", "data-pto-value": data.Percent });

                                }
                            })
                        } else {
                            ErrorBox(data.message);
                        }
                    })
                }


            })

        /* // DOM Position key index //

        l - Length changing (dropdown)
        f - Filtering input (search)
        t - The Table! (datatable)
        i - Information (records)
        p - Pagination (paging)
        r - pRocessing
        < and > - div elements
        <"#id" and > - div with an id
        <"class" and > - div with a class
        <"#id.class" and > - div with an id and class

        Also see: http://legacy.datatables.net/usage/features
        */

        /* BASIC ;*/
        var responsiveHelper_dt_basic = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };
        /* TABLETOOLS */
        $('#datatable_tabletools').dataTable({

            // Tabletools options:
            //   https://datatables.net/extensions/tabletools/button_options
            "sDom": "<'dt-toolbar'<'col-xs-1 col-sm-1'<'Button_Add'>><'col-xs-6 col-sm-5'T><'col-sm-6 col-xs-6 hidden-xs'f>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",

            "oTableTools": {
                "aButtons": [
                "copy",
                "csv",
                "xls",
                   {
                       "sExtends": "pdf",
                       "sTitle": "SmartAdmin_PDF",
                       "sPdfMessage": "SmartAdmin PDF Export",
                       "sPdfSize": "letter"
                   },
                   {
                       "sExtends": "print",
                       "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                   }
                ],
                "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_tabletools) {
                    responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_tabletools.respond();
            }
        });
        $("div.Button_Add").html('<a class="btn btn-primary" href="/employee/add"><i class="fa fa-plus"></i> Add</a> ');

        $("#btn-add-employee").click(function () {
            console.log("add-employee");
            location.href = "/Employee/Add";
        });

        /* END TABLETOOLS */
        $(".btn-delete").click(function () {
            var Id = $(this).eq(0).attr('id')
            $.SmartMessageBox({
                title: "Confirmation!",
                content: "Do you want to delete this record?",
                buttons: '[No][Yes]'
            }, function (ButtonPressed) {
                if (ButtonPressed === "Yes") {
                    $.post("/Employee/Delete", { "Id": Id }, function (data) {
                        if (data.code == 1) {
                            //$("body").load("/Employee/EmployeeList");
                            $("[id='" + Id + "']").parent().parent().remove();
                            SuccessBox("Employee been successfully Deleted");
                        } else {
                            ErrorBox(data.message);
                        }
                    })
                }
              });
        });
    })
    </script>
}